@font-face {
    font-family: 'Chilli Sauce Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Chilli Sauce Regular'), url('ChilliSauce-lgl0D.woff') format('woff');
    }

    h1{
        font-family: 'Chilli Sauce Regular';
        color:rgb(176, 252, 242)
    }